{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restaurante Pasta La Vista</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %} ?v=2">
</head>

<body>

    <header>
        <h1>Sistema de Gestión de Pedidos - Pasta La Vista</h1>
    </header>

   <nav>

    {% if user.is_authenticated %}

        <a href="/">Inicio</a>
        <a href="/clientes/">Clientes</a>
        <a href="/empleados/">Empleados</a>
        <a href="/mesas/">Mesas</a>
        <a href="/platos/">Platos</a>
        <a href="/ordenes/">Órdenes</a>
        <a href="/facturas/">Facturas</a>
        <a href="/admin/">Admin</a>

        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>

    {% else %}

        <a href="/login/">Login</a>
        <a href="/registro/">Registro</a>

    {% endif %}

</nav>

    <div class="contenedor">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>