{% extends 'gestion/base.html' %}

{% block content %}

<h2>Clientes</h2>

<a href="/clientes/crear/">
    <button>Agregar Cliente</button>
</a>

<table>

    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>

    {% for cliente in clientes %}
    <tr>

        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.correo }}</td>

       <td>

    <a href="/clientes/editar/{{ cliente.id }}/">
        <button>Editar</button>
    </a>

    <a href="/clientes/eliminar/{{ cliente.id }}/">
        <button>Eliminar</button>
    </a>

</td>

    </tr>
    {% endfor %}

</table>

{% endblock %}