{% extends 'gestion/base.html' %}
{% block content %}
<h2>Empleados</h2>

<a href="/empleados/crear/">
    <button>Agregar Empleado</button>
</a>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>
    {% for empleado in empleados %}
    <tr>
        <td>{{ empleado.id }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.cargo }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>{{ empleado.correo }}</td>
        <td>
            <a href="/empleados/editar/{{ empleado.id }}/">
                <button>Editar</button>
            </a>
            <a href="/empleados/eliminar/{{ empleado.id }}/">
                <button>Eliminar</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}