{% extends 'gestion/base.html' %}
{% block content %}
<h2>Platos</h2>

<a href="/platos/crear/">
    <button>Agregar Plato</button>
</a>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Disponible</th>
        <th>Acciones</th>
    </tr>
    {% for plato in platos %}
    <tr>
        <td>{{ plato.id }}</td>
        <td>{{ plato.nombre_plato }}</td>
        <td>{{ plato.descripcion }}</td>
        <td>${{ plato.precio }}</td>
        <td>{{ plato.categoria }}</td>
        <td>{{ plato.disponible|yesno:"Sí,No" }}</td>
        <td>
            <a href="/platos/editar/{{ plato.id }}/">
                <button>Editar</button>
            </a>
            <a href="/platos/eliminar/{{ plato.id }}/">
                <button>Eliminar</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}